@font-face {
    font-family: Helvetica-Light;
    src: url(../fonts/Helvetica-Light.ttf);
}

@font-face {
    font-family: Helvetica-Narrow;
    src: url(../fonts/Helvetica-Narrow.ttf);
}

@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/Helvetica-Bold.ttf);
}


.container {

    max-width: 1200px;
}


.banner-section {}

.banner-section .banner-wrap {
    background-image: url(../images/first.png);
    height: 794px;
    background-size: cover;
    background-position: left top;
}

.btn {
    border: 1px solid #FFFFFF;
}

.btn-outline-secondary {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border: 1px solid #111111;
}

.btn-primary {
    background: #0CBECD;
    width: 203px;
    height: 40px;
    border-radius: 20px;
    border-color: #0CBECD;
    margin-right: 355px;
    left: 15px;
    position: relative;
}

.nav-link {
    margin-left: auto;
    font-size: 15px;
    font-family: Helvetica-Bold;
}

.font {
    font-family: Myriad Pro;
    color: #0CBECD;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .top-header {
    background-color: rgba(69, 69, 69, 0.85);
}


header .top-header p {
    color: #fff;
    padding: 5px 0;
}

.down {
    font-size: 50px;
    font-family: Helvetica-Bold;
    position: relative;
    color: #FFFFFF;
}

header .top-header .mb-0 {
    font-family: Myriad Pro;
}

.btn .btn-primary .mr-sm-0 {
    left: 15px;
    position: relative;
}

.navbar {
    z-index: 2;
}

.container-fluid {
    top: 50%;
    position: absolute;
    /*  transform: translate(-25%,0%);*/
}


.row .whiterow {
    width: 1000px;
    height: 72px;
    background: #FFFFFF;
}

.rows {
    height: 72px;
    width: 1000px;
    background-color: #FFFFFF;
    transform: translateY(6.5px);
    left: 22.5px;
    position: relative;
    border-radius: 5px;
    opacity: 1;
    outline: 7px solid rgba(0, 0, 0, 0.5);
}

.search-section {
    transform: translateY(300px);
    max-width: 1015px;
    height: 85px;
}

.content-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchh {

    background-size: cover;
}

.grey-wrap {
    position: relative;
    width: 1015px;
    height: 85px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 48.5px;
}

.white-wrap {
    position: absolute;
    width: 1000px;
    height: 72px;
    background: #FFFFFF;

    margin-left: 7.5px;
    border-radius: 5px;
    padding-top: -101px;
    margin-top: 6.5px;
}

.gray-line {
    border-right: 1px solid rgb(214, 214, 214);
}

.dropdown {}

.list-inline-item {
    font-family: Helvetica-Bold;
}

.form-control {
    font-family: Helvetica-Bold;
    font-size: 18px;
    border: 1px solid #FFFFFF;
}

.search-button {
    left: 38px;
    position: relative;
    background-color: #0CBECD;
    font-family: Helvetica-Bold;
    font-size: 17px;
    color: #FFFFFF;
    width: 200px;

    padding: 16px;
    -webkit-user-select: none;
}

::-webkit-input-placeholder {

    color: #0DCCD9 !important;
}

#text {
    color: #0DCCD9;
}

a:hover {
    color: none;
}

.how-it-works .how-it-works-wrap {


    background-color: #FFFFFF;
}

.surlist-bar1 {
    height: 35px;
    width: 551px;
    border-top: 1px solid #FFFFFF;
    background-color: #454545;
    transform: translate(12%);
    font-size: 17px;
    font-family: Helvetica;
    color: #FFFFFF;
    padding: 4px;
    border-right: 1px;
    display: inline-block;
}

.surlist-bar2 {
    width: 323px;
    background-color: #454545;
    height: 35px;
    position: relative;
    left: 55px;
    font-size: 14px;
    top: 0px;
    padding-top: 7px;
    padding-left: 7px;
    color: #FFFFFF;
    font-family: Helvetica;
    border-top: 1px solid #FFFFFF;
    display: inline-block;
}

.how-it-works .how-it-works-wrap .hiw-text {
    font-family: Myriad Pro;
    font-size: 30px;
    color: #111111;
    padding-top: 100px;
}

.customers {
    padding-left: 37px;
}

.how-it-works .list {
    padding-left: 289px;
    padding-top: 43px;
}

.how-it-works .background {

    background-color: #f9f9f9;
}

.how-it-works-wrap .container .back {
    padding-bottom: 72px;
}

.how-it-works .nav-tabs .nav-link.surlisters li.active {
    background-image: url(../images/sur1.png);
}

.nav .nav-item {

    position: relative;
    background: #ffffff;
    text-align: center;
    background-repeat: no-repeat;
    color: #111111;
    font-family: Myriad Pro;
    font-size: 23px;
    background-position: center center;
}

.nav .nav-item .nav-link {
    width: 267px;
    height: 166px;
    display: block;
}

.nav .nav-item .active {
    background-color: #0CBECD;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav .nav-item.surlisters {
    background-image: url(../images/surlisteralt.png);
}

.nav .nav-item.surlisters .active {
    background-image: url(../images/sur1.png);
}

.nav .nav-item.customers {
    background-image: url(../images/customers.png);
}

.nav .nav-item.customers .active {
    background-image: url(../images/customeralt.png);
}


.how-it-works .how-it-works-wrap .nav-link h2 {
    position: absolute;
    bottom: 10px;
    color: #222;
    font-size: 23px;
    left: 0;
    right: 0;
}

.how-it-works .how-it-works-wrap .active.nav-link h2 {
    color: #ffffff;
}

.background .tab-content .tab-pane .container h2 {

    font-family: Myriad Pro;
    font-size: 30px;
    text-align: center;
}


.background .to-become {
    padding-top: 66px;
    padding-bottom: 62px;
}

.background .to-become .tab-pane .box-img {
    background-image: url(../images/box-shadow.png);
    padding-top: 93px;
    background-repeat: no-repeat;

    background-position: -45px 0;
}



.tab-pane .boxes .row .col-4 h5 {
    font-family: Myriad Pro;
    color: #212121;
    text-align: center;
    padding-top: 55px;
    font-size: 20px;
}

.tab-pane .boxes .row .col-4 .box1 {
    background-image: url(../images/createprofile.png);
    background-color: #ffffff;
    background-position: 50% 23%;
    position: relative;
    padding-bottom: 75px;
    padding-top: 74px;
    padding-left: 60px;
    padding-right: 60px;
}

.tab-pane .boxes .row .box2 {
    background-image: url(../images/postskills.png);
    background-color: #ffffff;
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.tab-pane .boxes .row .box3 {
    background-image: url(../images/getbooked.png);
    background-color: #ffffff;
    padding-top: 75px;
    padding-bottom: 50px;
}

.tab-pane .boxes .row .col-3 p {
    font-size: 17px;
    color: #212121;
    font-family: Myriad Pro;
    text-align: center;
    position: relative;
    top: 54px;
}

.tab-pane .boxes .row .prop {
    background-repeat: no-repeat;

    position: relative;
    background-position-y: 23%;
    background-position-x: 50%;
    border-radius: 5px;
}




/*Joinsulist###################################*/

.join-surlist .boss {
    background-color: #0CBECD;

    background-image: url(../images/join-surlist.png);
    background-repeat: no-repeat;
    padding-top: 156px;
    color: #ffffff;
    font-family: Myriad Pro;
    font-size: 30px;
    background-position: 50% 20%;
    text-align: center;
    padding-bottom: 84px;
}

.joins {
    font-family: Myriad Pro;
    font-size: 15px;
    color: #0CBECC;

    background-color: #ffffff;
    border-radius: 20px;
}

.buttonpadding {
    padding-top: 20px;
}

.join-surlist .sur-wrap {
    background-image: url(../images/whatis.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 539px;

    color: #ffffff;
    font-family: Myriad Pro;
}

.join-surlist .container .what-is {

    font-size: 30px;
    padding-top: 250px;
    text-align: center;
    padding-left: 690px;
    padding-top: 250px;
}

.join-surlist .container .what-is p {
    font-size: 17px;
}



/*############################################*/


/*SURLIST_VIDEO STARTS*/

.surlist-video .video-wrap {
    background-image: url(../images/surlist-video.png);
    height: 590px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 55px;
}

.surlist-video .container .surtext {

    font-size: 35px;
    padding-top: 0px;
    font-family: Myriad Pro;
    padding-bottom: 26px;
    color: #111111;
}



.surlist-video .container .video-tv {
    background-image: url(../images/video.png);
    background-repeat: no-repeat;
    position: center;
    padding-top: 46px;
    padding-bottom: 373px;
    background-position-x: 50%;
    background-position-y: 0%;
}

.surlist-video .background {
    background: #f9f9f9;

    top: -35px;
    position: relative;
}

.background .container h6 {
    font-size: 35px;
    font-family: Myriad Pro;
    color: #111111;
}

.container .boxes .row .col-sm-4 .prop {
    background-color: #ffffff;
    padding-top: 156px;

    background-repeat: no-repeat;
    background-position: 50% 28%;
    border-radius: 5px;
    text-align: center;
}

.container .boxes .row .col-sm-4 .box1 {
    background-image: url(../images/star.png);
    padding-bottom: 75px;
    padding-left: 45px;
    padding-right: 45px;
}

.container .boxes .row .col-sm-4 .box2 {
    background-image: url(../images/clock.png);
    padding-bottom: 50px;
    padding-left: 59px;
    padding-right: 61px;
}

.container .boxes .row .col-sm-4 .box3 {
    background-image: url(../images/time.png);
    padding-bottom: 50px;
    padding-left: 45px;
    padding-right: 45px;
}

.container .boxes .row .col-sm-4 h4 {
    font-size: 20px;
    font-family: Helvetica-Bold;
    color: #222222;
}

.container .boxes .row .col-sm-4 p {
    font-size: 17px;
    font-family: Helvetica-Bold;
    color: #212121;
}

.block {
    background: #d6d6d6;
}

.boxes .padding {
    padding-bottom: 76px;
    padding-top: 44px;
}


.background .o {
    background-image: url(../images/ooo.png);
    background-repeat: no-repeat;
    padding-top: 3px;
    background-position: 149px 0px;
}



/*SURLIST VIDEO ENDS*/


/*#############################################*/


/*JOIN THE COMMUNITY STARTS*/

.join-community .community {
    background-image: url(../images/c.png);
    background-position: 100%;
    background-repeat: no-repeat;
    height: 632px;
}

.join-community .community .container p {
    font-family: Myriad Pro;
    font-size: 22px;
    color: #000000;
    padding-top: 280px;

    text-align: center;

    color: #222222;
}

.joincompadding {
    padding-left: 100px;
    padding-top: 0px;
}

.joincompadding .joincom {
    font-family: Helvetica-Bold;
    font-size: 15px;
    color: #ffffff;

    background-color: #0CBECC;
    border-radius: 20px;
}



/*JOIN THE COMMUNITY ENDS*/


/*#######################################################################*/


/*surlist app starts*/

.surlist-application .surlist-app {
    background-image: url(../images/mob.png);
    background-repeat: no-repeat;
    background-position: 90% 99%;
    height: 480px;
}

.surlist-application .surlist-app .container .app h6 {
    font-family: Helvetica-Bold;
    font-size: 35px;
    text-align: center;
    padding-top: 72px;
    color: #111111;
}

.surlist-application .surlist-app .container .app p {
    font-family: Helvetica-Bold;
    text-align: center;
    font-size: 18px;
    top: -15px;
    position: relative;
    color: #222222;
}

.surlist-application .surlist-app .container .get-invited {
        padding-top: 18px;
    background: #555555;
    padding-bottom: 18px;
    font-family: Helvetica-Bold;
    font-size: 16px;
    padding-left: 49px;
    padding-right: 49px;
}

.surlist-application .surlist-app .container .icons {
    padding-left: 428px;
    padding-top: 40px;
}

.surlist-application .surlist-app .container .get-invited a {
    color: #ffffff;
}

.surlist-application .surlist-app .container label {
    max-width: 193px;
    padding-right: 32px;
    text-align: right;
    font-family: Helvetica-Bold;
    font-size: 18px;
    color: #222222;
}
.surlist-application .surlist-app .container .ppp
{
	transform: translateX(10%);
}



/*SURLIST APP ENDS*/


/*###########################################################*/


/*FOOTER STARTS*/

footer .footer1 {
    background: #f9f9f9;
}

footer .footer1 .container .row .col-4 .logo {
    background-image: url(../images/beta.png);
    background-repeat: no-repeat;
    height: 193px;

    background-position: 1% 75%;
}

footer .footer1 .container .row .col-2 h4 {
    font-family: Helvetica-Bold;
    font-size: 20px;
    color: #222222;
    padding-bottom: 13px;
}

footer .footer1 .container .row .col-2 a {
    font-family: Helvetica-Bold;
    font-size: 16px;
    color: #222222;
}

footer .footer1 .container .row .col-2 li {
    padding-top: 5px;
}

footer .footer1 .container .row .col-2 .shift {
    padding-left: 0px;
}

footer .footer1 .container .row .outline {
    background-image: url(../images/outline.png);
    background-repeat: no-repeat;
    padding-top: 3px;
    background-position: 0px 0px;
}

footer .footer1 .container .last {
    padding-bottom: 44px;
    padding-top: 45px;
}


/*COPYRIGHTS*/

footer .copyright {
    background: #f0f0f0;
    padding-top: 0px;
    padding-bottom: 3px
}

footer .container.copy-r {
    font-family: Helvetica-Bold;
    font-size: 12px;
    color: #212121;
    text-align: center;
    padding-top: 5px;
    padding-top: 5px;
}

/*FOOTER ENDS*/